.chat-app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.chat-app-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 100vh;
}

.chat-app-row {
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.chat-app-column.grow, .chat-app-row.grow {
  flex-grow: 1;
}
