.chat-not-connected-popup-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat-not-connected-popup {
  background: #fbb;
  border: 1px solid #a22;
  border-radius: 10px;
  padding:  10px 25px;
  height: 4em;
  width: 20em;
}

.chat-not-connected-popup .popup-row {
  color: #a22;
  text-align: center;
  line-height: 2em;
  font-weight: 600;
}