.chat-users-list-container {
  flex-grow: 1;
  overflow: auto;
  box-sizing: border-box;
  max-height: calc(100vh - 78px);
  max-width: 100%;
}

.chat-users-list-container .users-list {
  list-style: none;
  margin: 5px 0 0 5px;
  padding: 0;
} 

.chat-users-list-container .user-line:not(:first-child) {
  margin-top: 0.3em;
}

.chat-users-list-container .user-line > .user-select {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 1px 3px 1px 3px;
  margin-left: 3px;
  border-radius: 3px;
  border: 1px solid #77f;
  background: transparent;
}

.chat-users-list-container .user-line > .user-select:hover {
  border: 1px solid #22a;
  background: #bbf;
  cursor: pointer;
}